<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>PKRSOFT</title>

<!-- load bootstrap and fontawesome via CDN -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



<script src="controlador.js"></script>

<style>
.row.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
</style>


</head>

<body ng-controller="mainCtl">

	<div class="container">
		<div class="row">
			<h1 align="center">PkrSoft</h1>
		</div>

		<div class="row">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tabReal">Real
						Time</a></li>
				<li><a data-toggle="tab" href="#tabTest">Test Screen</a></li>
			</ul>
		</div>

		<div class="row">
			<div class="tab-content">

				<!-- 			primera tab -->
				<div id="tabReal" class="tab-pane fade in active">
					<div class="container-fluid" style="margin-top: 10px;">
						<button type="button" class="btn btn-success">Start</button>
						<button type="button" class="btn btn-danger">Stop</button>
						<button type="button" class="btn btn-light" ng-click=pruebaVista()>Test</button>
						<table style="border-collapse: collapse; border: none; margin-top: 30px;">
							<tbody>
								<tr style="height: 20px;">
									<td colspan="2"
										style="height: 20px; text-align: center; background-color: #000000; color: #ffffff;"><span><strong>17bb</strong></span></td>
									<td style="height: 20px; text-align: center;"></td>
									<td colspan="2"
										style="height: 20px; text-align: center; background-color: #000000; color: #ffffff;"><span><strong>15b</strong></span></td>
								</tr>
								<tr style="height: 20px;">
									<td
										style="height: 20px; text-align: center; background-color: orange; color: #ffffff;"><strong>DEF</strong></td>
									<td
										style="height: 20px; text-align: center; background-color: green; color: #ffffff;"><strong>REG</strong></td>
									<td style="height: 20px; text-align: center;"></td>
									<td
										style="height: 20px; text-align: center; background-color: orange; color: #ffffff;"><strong>DEF</strong></td>
									<td
										style="height: 20px; text-align: center; background-color: green; color: #ffffff;"><strong>REG</strong></td>
								</tr>
								<tr style="height: 20px;">
									<td
										style="text-align: center; border: 1px solid; padding: 3px;"><strong>QA1sup</strong></td>
									<td
										style="text-align: center; border: 1px solid; padding: 3px;"><strong>QA1sup</strong></td>
									<td></td>
									<td
										style="text-align: center; border: 1px solid; padding: 3px;"><strong>QA1inf</strong></td>
									<td
										style="text-align: center; border: 1px solid; padding: 3px;"><strong>QA1inf</strong></td>
								</tr>
								<tr style="height: 20px;">
									<td
										style="text-align: center; border: 1px solid; padding: 3px;">QA2sup</td>
									<td
										style="text-align: center; border: 1px solid; padding: 3px;">QA2sup</td>
									<td></td>
									<td
										style="text-align: center; border: 1px solid; padding: 3px;">QA2inf</td>
									<td
										style="text-align: center; border: 1px solid; padding: 3px;">QA2inf</td>
								</tr>
								<tr style="height: 20px;">
									<td
										style="text-align: center; border: 2px solid red; padding: 3px;">QA3sup</td>
									<td
										style="text-align: center; border: 2px solid red; padding: 3px;">QA3sup</td>
									<td></td>
									<td
										style="text-align: center; border: 2px solid red; padding: 3px;">QA3inf</td>
									<td
										style="text-align: center; border: 2px solid red; padding: 3px;">QA3inf</td>
								</tr>
								<tr style="height: 20px;">
									<td></td>
									<td></td>
									<td style="text-align: center;"><strong>BU</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr style="height: 20px;">
									<td></td>
									<td></td>
									<td style="text-align: center; border: 2px solid;">
										<h1>
											<span style="color: #ff0000; margin: 10px;">AKo</span>
										</h1>
									</td>
									<td></td>
									<td></td>
								</tr>
								<tr style="height: 20px;">
									<td></td>
									<td></td>
									<td
										style="text-align: center; background-color: #000000; color: #ffffff;"><span><strong>20bb</strong></span></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- 				segunda tab -->
				<div id="tabTest" class="tab-pane fade">
					<h3>Tester</h3>
					<div class="row">
						<div class="col-xs-8 col-xs-offset-4">
							<button type="button" class="btn btn-success"
								ng-click="infoTiempoReal()">ScrenShoot</button>
							<button type="button" class="btn btn-primary"
								ng-click="guardarInfo()">Guardar</button>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-md-12">
							<pre>{{res}}</pre>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-md-12" ng-init="imgTmp = 'img/tmpImg.png'">
							<img ng-src="{{imgTmp}}"
								style="max-width: 100%; max-height: 100%" />
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
	</div>

</body>
</html>